@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700,900&display=swap');

:root {
	/* backgroundIMG: ; */
}

* {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	line-height: 1.25em;
}

.clear {
	clear: both;
}

body {
	margin: 0;
	width: 100vw;
	height: 100vh;
	background: url(https://picsum.photos/1400/900);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	object-fit: contain;
	font-family: 'Montserrat', sans-serif;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.main-wrapper{
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.container {
	border-radius: 25px;
	-webkit-box-shadow: 0 0 70px -10px rgba(0, 0, 0, 0.2);
	box-shadow: 0 0 70px -10px rgba(0, 0, 0, 0.2);
	color: #ffffff;
	height: 60%;
}

.weather-side {
	position: relative;
	height: 100%;
	background: #fff;
	border-radius: 25px;
	width: 850px;
	-webkit-box-shadow: 0 0 20px -10px rgba(0, 0, 0, 0.2);
	        box-shadow: 0 0 20px -10px rgba(0, 0, 0, 0.2);
	-webkit-transition: -webkit-transform 300ms ease;
	transition: -webkit-transform 300ms ease;
	-o-transition: transform 300ms ease;
	transition: transform 300ms ease;
	transition: transform 300ms ease, -webkit-transform 300ms ease;
	float: left;
    display: flex;
    justify-content: space-between;
}

.location-frame-container{
padding: 20px;
}

.location-frame-container iframe{
	height:175px;
	width:100%;
}

.weather-gradient {
	position: relative;
	width: 50%;
	height: 100%;
}


.date-container {
	position: relative;
	padding: 30px;
}

.date-dayname {
	margin: 0;
	color: #000;
}

.date-day {
	display: block;
	color: #000;
}

.location {
	display: inline-block;
	margin-top: 10px;
}

.location-icon {
	display: inline-block;
	height: 0.8em;
	width: auto;
	margin-right: 5px;
	color: #000;
}

.weather-container {
	position: relative;
	width: 50%;
	padding: 30px;
}

.weather-icon.feather {
	height: 60px;
	width: auto;
}

.weather-temp {
	margin: 0;
	font-weight: 700;
	font-size: 4em;
	color: #000;
}

.weather-desc {
	margin: 0;
	color: #000;
}

.weather-gif{
	height:100px;
	width:100px;
	position: absolute;
	right: -125px;
	bottom: 20px;
}

.info-side {
	position: relative;
	height: 100%;
    width: 50%;
	padding-top: 25px;
}

.today-info {
	padding: 15px;
	margin: 0 25px 25px 25px;
/* 	box-shadow: 0 0 50px -5px rgba(0, 0, 0, 0.25); */
	border-radius: 10px;
	color: #000;
}

.today-info>div:not(:last-child) {
	margin: 0 0 10px 0;
}

.today-info>div .title {
	float: left;
	font-weight: 700;
}

.today-info>div .value {
	float: right;
}

.week-list {
	list-style-type: none;
	padding: 0;
	margin: 10px 35px;
	-webkit-box-shadow: 0 0 50px -5px rgba(0, 0, 0, 0.25);
	        box-shadow: 0 0 50px -5px rgba(0, 0, 0, 0.25);
	border-radius: 10px;
	background: #fff
}

.week-list>li {
	float: left;
	width: 33%;
	padding: 20px;
	cursor: pointer;
	-webkit-transition: 200ms ease;
	-o-transition: 200ms ease;
	transition: 200ms ease;
	border-radius: 10px;
	background-color: #fff;
	color: #000;
}

.week-list>li:hover {
	-webkit-transform: scale(1.1);
	    -ms-transform: scale(1.1);
	        transform: scale(1.1);
	background: #fff;
	color: #222831;
	-webkit-box-shadow: 0 0 40px -5px rgba(0, 0, 0, 0.2);
	        box-shadow: 0 0 40px -5px rgba(0, 0, 0, 0.2)
}


.week-list>li .day-name {
	display: block;
	margin: 10px 0 0 0;
	text-align: center;
}

.week-list>li .day-icon {
	display: block;
	height: 30px;
	width: auto;
	margin: 0 auto;
}

.week-list>li .day-temp {
	display: block;
	text-align: center;
	margin: 10px 0 0 0;
	font-weight: 700;
}

.location-container {
	padding: 25px 35px;
}

.location-button {
	outline: none;
	width: 100%;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	border: none;
	border-radius: 25px;
	padding: 10px;
	font-family: 'Montserrat', sans-serif;
	background-color:#000 ;
	color: #ffffff;
	font-weight: 700;
	-webkit-box-shadow: 0 0 30px -5px rgba(0, 0, 0, 0.25);
	        box-shadow: 0 0 30px -5px rgba(0, 0, 0, 0.25);
	cursor: pointer;
	-webkit-transition: -webkit-transform 200ms ease;
	transition: -webkit-transform 200ms ease;
	-o-transition: transform 200ms ease;
	transition: transform 200ms ease;
	transition: transform 200ms ease, -webkit-transform 200ms ease;
}

.location-button:hover {
	-webkit-transform: scale(0.95);
	    -ms-transform: scale(0.95);
	        transform: scale(0.95);
}

.location-button .feather {
	height: 1em;
	width: auto;
	margin-right: 5px;
}


.location-popup-container{
	height: 15%;
	width: 30%;
	top: 40%;
	left: 35%;
	padding: 20px;
	border-radius: 20px;
	background: #fff;
	color: #000;
	position: absolute;
	margin: auto;
	z-index: 9;
	box-shadow: 0px 8px 11px rgba(0, 0, 0, .25	);
}

.location-popup-container .location-form-group{
	display: flex;
	justify-content: space-between;
}

.location-popup-container .location-form-group .location-form-control{
	width: 80%;
	border-radius: 10px;
	height: 30px;
}

.location-popup-container .location-form-group .submit-search-icon{
	display: inline-block;
	position: relative;
	top: 5px;
	cursor: pointer;
}

.location-popup-container .location-form-group .submit-search-icon svg{
	height: 20px;
	width: 20px;
}


@media only screen and (min-width:280px) and (max-width:319px){
	/* / smartphones, iPhone, portrait 480x320 phones /  */

}

@media only screen and (min-width:320px) and (max-width:480px){
/* / smartphones, iPhone, portrait 480x320 phones /  */

.weather-side {
	height: calc(100% - 30px);
	width: calc(100% - 30px);
	position: relative;
	left: 15px;
	top: 15px;
	justify-content: flex-start;
	flex-direction: column;
}

.weather-gradient {
	width: 100%;
	height: 50%;
}

.info-side {
	width: 100%;
	height: 50%;
}

.container{
	height: calc(100% - 30px);
}

.date-container{
	padding: 15px 30px;
}

.date-container .date-dayname{
	font-size: 20px;
}

.location-frame-container{
	padding: 10px 30px;
}

.weather-container{
	padding: 10px 30px;
}
.weather-temp{
	font-size: 50px;
}

.date-container .date-day{
	font-size: 15px;
}

.today-info{
	margin: 0px;
	padding: 15px 30px;
}

.week-list>li {
	padding: 10px;
}

.week-list>li .day-icon{
	height: 0px;
}

}

@media only screen and (min-width:481px) and (max-width:640px){
/* / portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. /  */

}

@media only screen and (min-width:1281px) and (max-width:1399px){
/* / DESKTOP VIEW / */
}

@media (max-width: 1510px) and (min-width: 1200px){

}

@media (max-width: 1710px) and (min-width: 1510px){

}
